* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype'),
        url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.eot');
    src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype'),
        url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.eot');
    src: url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.ttf') format('truetype'),
        url('../fonts/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.list-reset {
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
}

.btn {
    border: none;
    background-color: transparent;
    border-radius: 8px;
}

/* header */
.header {
    background-color: #1F2937;
}

.header__container {
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.header__logo {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header__item {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.header__nav {
    width: 40%;
}

.header__list {
    justify-content: space-between;
}

/* hero */

.hero {
    background-color: #1F2937;
}

.hero__container {
    justify-content: space-between;
    padding: 80px 0 160px;
}

.hero__title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero__descr {
    margin: 0;
    margin-bottom: 15px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: light;
}

.hero__btn {
    width: 120px;
    height: 35px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
}

.hero__left {
    width: 42%;
}

.hero__right {
    justify-content: center;
    align-items: center;
    background-color: #6D747E;
    width: 50%;
}

.hero__placeholder {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: light;
}

/* random */

.random__container {
    padding: 30px 0 50px;
    flex-direction: column;
    align-items: center;
}

.random__title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.random__list {
    justify-content: space-between;
    width: 80%;

}

.random__item {
    width: calc(27% - 30px * 3);

}

.random__img {
    width: 100%;
    height: 142px;
    margin-bottom: 10px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.random__descr {
    margin: 0;
    text-align: center;
}

/* citation */

.citation {
    background-color: #E5E7EB;
}

.citation__contaiiner {
    flex-direction: column;
    align-items: center;
    padding: 160px 0;
}

.citation__cit {
    margin: 0;
    margin-bottom: 10px;
    width: 80%;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.citation__author {
    width: 80%;
    margin: 0;
    text-align: end;
    font-weight: bold;
    font-size: 24px;
}

/* enter */

.enter {
    padding: 80px;
}

.enter__div {
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.enter__container {
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 15px;
}

.enter__left {
    padding: 40px 0;
}

.enter__title {
    margin: 0;
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
}

.enter__descr {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.enter__btn {
    width: 120px;
    height: 35px;
    font-size: 18px;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
}

/* footer */
.footer {
    padding: 30px 0;
    background-color: #1F2937;
}

.footer__copy {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #E5E7EB;
}